 <!DOCTYPE html>
<html lang="en">
<head>
  <title>NotesON</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav style="background-color: #00005c;" class="navbar navbar-expand-md  navbar-dark ">
  <a class="navbar-brand" href="/"> <img src="images/logo.png" alt="logo" width="50px" height="50px"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div  class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav"  >
      <li class="nav-item">
       <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact </a>
      </li>
    </ul>
  </div>
</nav>
<br>

  <div class="top-container" >
   <div  class="open-txt">
     <img style="margin-top:20px;" src="images/logo.png" alt="LOGO" width="150px" height="150px">
     <h1 style="color: #00005c;background: rgba(255,255,255, 0.2);">India's Most Rapidly Growing Website with Largest Number Of Study Resources.</h1>
      <div class="typewriter">
    <h3><span> You Can Find </span></h3>
    <h1><span style="color: #b5076b; background: rgba(255,255,255, 0.7); "
        class="txt-rotate"
        data-period="2000"
        data-rotate='["Youtube Videos.","Class Notes.", "Summary.","Case Study.", "Assignments." ,"Solutions"]'>
     </span>
  </h1>
    </div>
   </div>
  </div>

<div class="reg-log">
  <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</div>

<div class="top-2">
<div class="q">
  <h3>Exams Coming Up?</h3>
  <h3>Deadline On the Head?</h3>
  <h3>Can't get through Assignment?</h3>
</div>

<h2 class="sol">Don't Worry We are here to help You Out....</h2>
<img src="images/students.gif" alt="students celebrating" width="300px">
</div>

<div class="mid">
  <h1 style="font-family: serif;color: #00005c;background: rgba(255,255,255, 0.5);">We Ensure Growth In All Domains.</h1>
<div class="row1">
  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="images/mission.png" alt="Avatar" style="width:200px;height:200px;">
      <h2 style="">OUR MISSION</h2>
    </div>
    <div class="flip-card-back">
      <h1>Our Misssion</h1>
      <p>
        Today's youth is privileged to have
        facilities like never before but the
        problem being ,they are attracted
        towards short term pleasures and
        hence getting distracted.So we decided
        to come up with the idea of developing
        a Growth Oriented distraction less
        learning platform.
      </p>

    </div>
  </div>
</div>
<div class="flip-card">
<div class="flip-card-inner">
  <div class="flip-card-front">
    <img src="images/vision.png" alt="Avatar" style="width:200px;height:200px;">
    <h2 style="">OUR VISION</h2>
  </div>
  <div class="flip-card-back">
    <h1>Our Vision</h1>
    <p>
      Learning being our birthright , so
      whosoever seek it should get it .
      So we have a long term vision of
      developing a platform where students
      from where ever they are would be able
      to learn on the ease of fingertips without
      any cost.
    </p>

  </div>
</div>
</div>
</div>

<div class="row2">
  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="images/target.png" alt="Avatar" style="width:200px;height:200px;">
      <h2 style="">OUR TARGET</h2>
    </div>
    <div class="flip-card-back">
      <h1>Our Target</h1>
      <p></p>

    </div>
  </div>
</div>
<div class="flip-card">
<div class="flip-card-inner">
  <div class="flip-card-front">
    <img src="images/participate.png" alt="Avatar" style="width:200px;height:200px;">
    <h2 style="">YOUR HELP</h2>
  </div>
  <div class="flip-card-back">
    <h1>Our Vision</h1>
    <p>Architect & Engineer</p>
    <p>We love that guy</p>
  </div>
</div>
</div>
</div>
</div>

<div class="after-mid">
  <div class="text">
   <h2>Join <u>NotesON</u></h2>
   <h2>Where You Can Grow and even Help Other's Grow.</h2>
   <p>Large part of our motive aims at helping students who cannot afford college fees.So let's come together and help these
   students to learn and grow together.What just we need to do is that, we have to share our college study material on this
    platform so that underprivileged students can take this as a opportunity and grow. </p>
  <a style="padding:10px;" href="/register" type="button" class="btn btn-danger">Register Now</a>
  </div>
</div>

<div class="roles">
  <div class="all-cards">
  <div  class="carda">
  <img src="images/society.png" alt="Society">
  <h4>Society Contribution</h1>
  <p>You can contribute to society by
  uploading your study notes and helping
  other students.</p>
</div>
<div class="carda">
<img src="images/growth.png" alt="Society">
<h4>Growth Oriented</h1>
<p>You can contribute to society by
uploading your study notes and helping
other students.</p>
</div>
<div class="carda">
<img src="images/global.png" alt="Society">
<h4>Global Exposure</h1>
<p>You can contribute to society by
uploading your study notes and helping
other students.</p>
</div>
<div class="carda">
<img src="images/smart.png" alt="Society">
<h4>Study Smart</h1>
<p>You can contribute to society by
uploading your study notes and helping
other students.</p>
</div>
</div>
</div>

<div class="bottom">
@2020 by NotesON
</div>

<script src="js/home.js"></script>
</body>
</html>
