<!DOCTYPE html>
 <html lang="en" dir="ltr">
  <head>
     <meta charset="utf-8">
    <title>NotesON | Videos</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
       <link rel="stylesheet" href="css/videos.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   </head>
   <body>

     <nav style="background-color: #00005c;" class="navbar navbar-expand-md  navbar-dark">

         <a class="navbar-brand" href="/"> <img src="images/logo.png" alt="logo" width="50px" height="50px"> </a>
         <div class="mid-menu">

         </div>

         <div class="ml-auto">
            <a  href="/logout" data-toggle="tooltip" title="Log Out" > <img src="images/logout.png" alt="log out icon"> </a>

            <a  href="/profile" data-toggle="tooltip" title="View Profile" > <img src="images/user.png" alt="user"> </a>
         </div>
    </nav>

    <nav  class="navbar navbar-expand-md bg-dark navbar-dark justify-content-center">
          <div class="centernav">
            <a  href="/browse" data-toggle="tooltip" title="Search For Notes"> <img src="images/browse.png" alt="dashboard"> </a>
            <a  href="/new_note" data-toggle="tooltip" title="Post new Note" > <img src="images/newnote.png" alt="add new note"> </a>
            <a  href="/dashboard" data-toggle="tooltip" title="Dashboard"> <img src="images/dashboard.png" alt="dashboard"> </a>
            <a  href="/videos"  data-toggle="tooltip" title="Watch Educational Youtube Videos of your feild." > <img style="background-color:#eeeeee;padding:10px;border-radius:5px;" src="images/videos.png" alt="Videos"> </a>
            <a  href="/dash"  data-toggle="tooltip" title="Your saved Youtube Videos" > <img src="images/save.png" alt="Saved Videos"> </a>
          </div>
    </nav>

    <div class="scrollmenu">
      <form class="" action="/videos" method="post">
        <a href="/videos" class="btn btn-primary">All</a>
        <button type="submit" class="btn btn-primary" name="button" value="Engineering">Engineering</button>
        <button type="submit" class="btn btn-primary" name="button" value="Medical">Medical</button>
        <button type="submit" class="btn btn-primary" name="button" value="science">Science</button>
        <button type="submit" class="btn btn-primary" name="button" value="commerce">Commerce</button>
        <button type="submit" class="btn btn-primary" name="button" value="CA">CA</button>
        <button type="submit" class="btn btn-primary" name="button" value="School">School</button>
        <button type="submit" class="btn btn-primary" name="button" value="Other">Other</button>
      </form>
    </div>

    <div class="browse">

     <h2 style="font-family:cursive;"><u><%=title%></u></h2>
     <%videos.forEach(function(video){%>
       <form class="" action="/save" method="post">
        <div class="card">
         <iframe width="360" height="165" src="<%=video.embedlink%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4><%=video.title%></h4>
         <input type="checkbox" name="save" value="<%=video._id%>" onChange="this.form.submit()">
       </div>
       </form>
     <%})%>
     </div>
     </div>
     <script>

     function myFunction(x)
    {
      x.classList.toggle("fa-square");
    }

 $(document).ready(function(){
   $('[data-toggle="tooltip"]').tooltip();
 });

 </script>
    </body>
    </html>
