body
{
  
}
.mid-menu
{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centernav a
{
  margin-left: 20px;
}

div.scrollmenu {
  background-color: #b5076b;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}


.browse
{
  text-align: center;
}

.all-notes
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.username
{
  background-color: #b5076b;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 370px;
  margin: 10px;
  word-wrap: break-word;
  font-family:serif;
  border: 5px solid #b5076b;
  display: inline-block;
}
.card h4
{
  background-color: #e0dede;
  float: left;
  display: inline-block;
}
.card input
{
  background-color: #e0dede;
  margin-right: 10px;
  float: right;
}
form
{
  display: inline-block;
}
